apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: howest-fastapi
spec:
  selector:
    app: nginx-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 80        # poort binnen cluster
      targetPort: 80  # container port
      nodePort: 30080 # poort op de host
