apiVersion: v1
kind: Pod
metadata:
  name: mypod-${ID}  # let op het $ teken voor envsubst
  namespace: howest-fastapi
  labels:
    name: mypod
spec:
  containers:
  - name: mypod
    image: rancher/hello-world
