name: Azure ML Compute List

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  azure-ml:
    runs-on: ubuntu-latest
    env:
      GROUP: MLOps
      WORKSPACE: wandels-yoran-ml
      SUBSCRIPTION_ID: 19fe6b9f-c4f7-46ad-8824-f9af7431cbed
      LOCATION: westeurope

    steps:
      # Checkout repo (optioneel)
      - name: Checkout repository
        uses: actions/checkout@v3

      # Login bij Azure via SP
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Azure CLI commando's uitvoeren zoals je leerkracht aangaf
      - name: Azure test - Get Compute
        uses: Azure/CLI@v2.1.0
        with:
          azcliversion: 2.63.0
          inlineScript: |
            # Installeer ML extensie
            az extension add --name ml

            # Standaard parameters instellen
            az configure --defaults group=$GROUP workspace=$WORKSPACE location=$LOCATION

            # Compute lijst ophalen
            az ml compute list
