name: Kubernetes Test Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy-pod:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set pod random ID
        run: |
          $RandomID = -join ((48..57) + (97..122) | Get-Random -Count 6 | % {[char]$_})
          echo "ID=$RandomID" >> $env:GITHUB_ENV
        shell: powershell

      - name: Apply pod manifest
        run: |
          (Get-Content k8s/pod-template.yaml) -replace '\$\{ID\}', $env:ID | kubectl apply -f -
        shell: powershell

      - name: Check pod status
        run: kubectl get pods -n howest-fastapi
